@framework(null,true){

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script>
          $(function() {
            $( "#slider_usage_charge" ).slider({
              range: "min",
              value: 10,
              min: 5,
              max: 50,
              slide: function( event, ui ) {
                var fee;
                @for(i <- ChargePolicy.getRangeStepForUsage().indices){
                  @if(i==0){
                if (ui.value <= @ChargePolicy.getRangeStepForUsage()(i)) {
                  fee = @ChargePolicy.getPriceStepForUsage()(i);
                }
                        }else{
                else if (ui.value > @ChargePolicy.getRangeStepForUsage()(i-1) && ui.value <= @ChargePolicy.getRangeStepForUsage()(i)) {
                  fee = @ChargePolicy.getPriceStepForUsage()(i);
                }
                        }
                }
                else{
                  fee = @ChargePolicy.getPriceStepForUsage()(ChargePolicy.getPriceStepForUsage().length-1)
                }
                fee = fee/ @ChargePolicy.getUSD_CNY_Rate();
                var charge = ui.value*fee.toFixed(2);
                $( "#usage_charge" ).val( charge.toFixed(2) + "USD");
                $( "#amount_usage_charge" ).val( ui.value + "GB");
                $("#usage_charge_form [name='charge_amount']").attr("value",ui.value);
              }
            });
            $("#usage_charge_form [name='charge_amount']").attr("value",$( "#slider_usage_charge" ).slider( "value" ));
            $( "#amount_usage_charge" ).val( $( "#slider_usage_charge" ).slider( "value" ) + "GB");
            var charge = $( "#slider_usage_charge" ).slider( "value" )*@ChargePolicy.getPriceStepForUsage()(0)/@ChargePolicy.getUSD_CNY_Rate();
            $( "#usage_charge" ).val( charge.toFixed(2) +"USD");

            $( "#slider_year_charge" ).slider({
              range: "min",
              value: 1,
              min: 1,
              max: 3,
              slide: function( event, ui ) {
                var fee = @ChargePolicy.getPriceForYear() / @ChargePolicy.getUSD_CNY_Rate();
                var charge = ui.value*fee.toFixed(2);
                $( "#year_charge" ).val( charge.toFixed(2) + "USD");
                $( "#amount_year_charge" ).val( ui.value +" 年");
                $("#year_charge_form [name='charge_amount']").attr("value",ui.value);
              }
            });
            $( "#amount_year_charge" ).val( $( "#slider_year_charge" ).slider( "value" )+" 年");
            var charge = $( "#slider_year_charge" ).slider( "value" )*@ChargePolicy.getPriceForYear() / @ChargePolicy.getUSD_CNY_Rate();
            $( "#year_charge" ).val( charge.toFixed(2) +"USD");
            $("#year_charge_form [name='charge_amount']").attr("value",$( "#slider_year_charge" ).slider( "value" ));

            $( "#slider_month_charge" ).slider({
              range: "min",
              value: 6,
              min: 1,
              max: 12,
              slide: function( event, ui ) {
                var fee;
                @for(i <- ChargePolicy.getRangeStepForMonth().indices){
                @if(i==0){
                if (ui.value <= @ChargePolicy.getRangeStepForMonth()(i)) {
                  fee = @ChargePolicy.getPriceStepForMonth()(i);
                }
                        }else{
                else if (ui.value > @ChargePolicy.getRangeStepForMonth()(i-1) && ui.value <= @ChargePolicy.getRangeStepForMonth()(i)) {
                  fee = @ChargePolicy.getPriceStepForMonth()(i);
                }
                        }
                        }
                else{
                  fee = @ChargePolicy.getPriceStepForMonth()(ChargePolicy.getPriceStepForMonth().length-1)
                }
                fee = fee/ @ChargePolicy.getUSD_CNY_Rate();
                var charge = ui.value*fee.toFixed(2);
                $( "#month_charge" ).val( charge.toFixed(2) + "USD");
                $( "#amount_month_charge" ).val( ui.value + " 个月");
                $("#month_charge_form [name='charge_amount']").attr("value",ui.value);
              }
            });
            $( "#amount_month_charge" ).val( $( "#slider_month_charge" ).slider( "value" )+ " 个月");
            var charge = $( "#slider_month_charge" ).slider( "value" )*@ChargePolicy.getPriceStepForMonth()(0) / @ChargePolicy.getUSD_CNY_Rate();
            $( "#month_charge" ).val( charge.toFixed(2) +"USD");
            $("#month_charge_form [name='charge_amount']").attr("value",$( "#slider_month_charge" ).slider( "value" ));
          });
  </script>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">账户当前计划</h3>
          </div>
          <div class="panel-body">
            <p>
              套餐类型
            </p>
            <p>
              套餐开始日期
            </p>
            <p>套餐结束日期</p>
            <p>套餐结余流量</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">年付计划</h3>
          </div>
          <div class="panel-body">
            <p>
              全家桶，全家量，每月200GB流量，一年有效。
            </p>
            <form action="/paypalCheckout" method="post" id="year_charge_form">
              <p>
                <label for="amount_year_charge">套餐有效年数:</label>
                <input type="text" id="amount_year_charge" readonly style="border:0; color:#f6931f; font-weight:bold;">
              </p>
              <div id="slider_year_charge"></div>
              <p>
                <label for="year_charge">价格:</label>
                <input type="text" id="year_charge" readonly style="border:0; color:#f6931f; font-weight:bold;">
              </p>
              <p></p>
              <input type="hidden" name="charge_type" value="year">
              <input type="hidden" name="charge_amount" value="0">
              <input type="image" name="submit" border="0"
              src="https://www.paypal.com/zh_XC/i/btn/btn_xpressCheckout.gif"
              alt="PayPal - The safer, easier way to pay online">
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">月付计划</h3>
          </div>
          <div class="panel-body">
            <p>
              精打细算，时惠之选，每月200GB流量，逐月失效。
            </p>
            <form action="/paypalCheckout" method="post" id="month_charge_form">
              <p>
                <label for="amount_month_charge">套餐有效月数:</label>
                <input type="text" id="amount_month_charge" readonly style="border:0; color:#f6931f; font-weight:bold;">
              </p>
              <div id="slider_month_charge"></div>
              <p>
                <label for="month_charge">价格:</label>
                <input type="text" id="month_charge" readonly style="border:0; color:#f6931f; font-weight:bold;">
              </p>
              <p></p>
              <input type="hidden" name="charge_type" value="month">
              <input type="hidden" name="charge_amount" value="0">
              <input type="image" name="submit" border="0"
              src="https://www.paypal.com/zh_XC/i/btn/btn_xpressCheckout.gif"
              alt="PayPal - The safer, easier way to pay online">
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">流量预付</h3>
          </div>
          <div class="panel-body">
            <p>
              用多少，买多少，流量一年有效，量多价优。
            </p>
            <form action="/paypalCheckout" method="post" id="usage_charge_form">
              <p>
                <label for="amount_usage_charge">套餐流量:</label>
                <input type="text" id="amount_usage_charge" readonly style="border:0; color:#f6931f; font-weight:bold;">
              </p>


              <div id="slider_usage_charge"></div>
              <p>
                <label for="usage_charge">价格:</label>
                <input type="text" id="usage_charge" readonly style="border:0; color:#f6931f; font-weight:bold;">
              </p>
              <p></p>
              <input type="hidden" name="charge_type" value="usage">
              <input type="hidden" name="charge_amount" value="0">
              <input type="image" name="submit" border="0"
              src="https://www.paypal.com/zh_XC/i/btn/btn_xpressCheckout.gif"
              alt="PayPal - The safer, easier way to pay online">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
}