@import model.User
@(identityForm:Form[User],isLogin:Boolean = false)(content:Html)

<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="@routes.Assets.versioned("images/favicon.png")">

        <title>Sciternet</title>

            <!-- Bootstrap core CSS -->

        <!-- On deployment
        <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        -->
        <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">

            <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

            <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body>
        <style type="text/css">
            body { padding-top: 50px; }
        </style>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">壁虎路由</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if(isLogin) {
                            <li class="active" id="usageAccount"><a href="/usage_account">流量监控</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    付费计划 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/chargePlan">套餐购买</a></li>
                                    <li><a href="/invoiceHistory">消费记录</a></li>
                                </ul>
                            </li>
                            <li><a href="#">奖励计划</a></li>
                        }else{
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">产品与解决方案 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">离线下载</a></li>
                                    <li><a href="#">网际加速</a></li>
                                </ul>
                            </li>
                        }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">技术支持 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">固件下载</a></li>
                                <li><a href="#">使用帮助</a></li>
                                @if(isLogin) {
                                    <li><a href="#">问题反馈</a></li>
                                }
                            </ul>
                        </li>
                    </ul>

                    @if(isLogin) {


                        @helper.form(action = routes.HomeController.login(),'id->"identityForm",'class->"navbar-form navbar-right") {
                            <a href="/logout" class="btn btn-info" >注销</a>
                            <!--<button type="submit" class="btn btn-danger">注销</button> -->
                        }

                    }else{
                        @helper.form(action = routes.HomeController.login(),'id->"identityForm",'class->"navbar-form navbar-right"){
                            <div class="form-group">
                                <input type="text" placeholder="Email" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control" name="password">
                            </div>
                            <button type="submit" class="btn btn-success">登陆</button>

                            <a href="/trial" class="btn btn-info" >试用</a>
                        }
                    }


                </div><!--/.navbar-collapse -->
            </div>
        </nav>


        @content

        <footer>
                <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_now_accepting_pp_2line_w.png" border="0" alt="Now Accepting PayPal"></a><div style="text-align:center"></div></td></tr></table><!-- PayPal Logo -->
        </footer>

    </body>

</html>