@(candidateMonths:List[Integer])

@framework(null,true){
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script type="text/javascript">
    var usageCanvase;
    var lineChart;
    var cata;

    function visualizeData(dates, dailyUsages, accumulatedUsages) {
      cata = {
        labels: dates,
        datasets: [
          {
            label: "PerDay",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: dailyUsages
          },
          {
            label: "Accumulated",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: accumulatedUsages
          }
        ]
      };
      lineChart = usageCanvase.Line(cata);
    }
    function fetchUsage(targetMonth) {
      var api = "/json_usage_detial/" + targetMonth;
      $.getJSON(api, function (response) {
        var keys = Object.keys(response);
        var dates = new Array(keys.length);
        var dailyUsages = new Array(keys.length);
        var accumulatedUsages = new Array(keys.length);
        var accumulatedUsage = 0;
        for (var i = 0; i < keys.length; i++) {
          dates[i] = keys[i];
          dailyUsages[i] = response[keys[i]];
          accumulatedUsage = response[keys[i]] + accumulatedUsage;
          accumulatedUsages[i] = accumulatedUsage;
        }
        visualizeData(dates,dailyUsages,accumulatedUsages);
      });
    }

    function updateUsageChart(month) {
      lineChart.destroy();
      fetchUsage(month);
    }

    $( document ).ready(function() {
      var today = new Date();
      var targetMonth = today.getMonth() + 1;
      Chart.defaults.global.responsive = true;
      usageCanvase = new Chart($("#usageChart").get(0).getContext("2d"));
      fetchUsage(targetMonth);

    });

  </script>
  <div class="container">
    <div class="row">
      Notice
    </div>
    <div class="row">
      <nav>
        <ul class="pagination" id="month_navigation">
        @for(month<-candidateMonths) {
          <li><a href="#" onclick="updateUsageChart(@month)">@month</a></li>
        }
        </ul>
      </nav>
      <canvas id="usageChart"></canvas >
    </div>
  </div>

}